{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": {
		"node": true
	},
	"plugins": [
		"@typescript-eslint",
		"import"
	],
	"extends": [ //Setting default rules
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		//"plugin:import/recommended",
		"plugin:import/typescript"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"args": "none"
			}
		],
		"@typescript-eslint/ban-ts-comment": "off",
		"no-prototype-builtins": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"import/no-cycle": [
			1,
			{
				"maxDepth": 4,
				"ignoreExternal": true
			}
		]
	}
}